<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CarServiceEntities" connectionString="metadata=res://*/EntityModel.CarServiceEntities.csdl|res://*/EntityModel.CarServiceEntities.ssdl|res://*/EntityModel.CarServiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=aspnet-CarService.WebApp-20132205416;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CarServiceEntities" connectionString="metadata=res://*/EntityModel.CarServiceEntities.csdl|res://*/EntityModel.CarServiceEntities.ssdl|res://*/EntityModel.CarServiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=tango.rdb.superhosting.bg;database=georgima_carService;user id=georgima_carServiceAdmin;password=Smukacha365;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>